html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: block !important;
  height: 100%;
  overflow: hidden;
}

/* header */

#page-header {
  height: 3rem;
  background-color: #e85a4f;
}

#page-header .container {
  width: 12rem;
  height: 100%;
  margin-left: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#notepad-image {
  background-image: url("../assets/images/notepad.png");
  background-size: contain;
  width: 40px;
  height: 40px;
}

#page-header h1 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* main */

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fffff2;
}

@media only screen and (max-width: 768px) {
  .side-info {
    display: none;
  }
}

/* side-info */

.side-info {
  width: 300px;
  background-color: #ffc7bd;
}

.side-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.side-content h2 {
  font-size: 30px;
  font-weight: 700;
}

.project-list {
  margin-top: 2rem;
  font-size: 20px;

}

.project-list p {
  margin-bottom: 1rem;
}

.project-list p:hover {
  font-weight: 700;
  cursor: pointer;
}

.project-list .selected {
  color: #e85a4f;
  font-weight: 700;
}

/* add project */ 

.add-project {
  font-size: 20px;
}

.add-project:hover {
  font-weight: 700;
  cursor: pointer;
}

.add-project div {
  display: flex;
  align-items: stretch;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  color: white;
  font-weight: 600;
}

.add-project a, .add-project input {
  display: inline-block;
  font-size: 16px;
  padding: 5px 3px 5px 3px;

}

.add-project a:nth-child(2) {
  background-color:#4fa300;
}

.add-project a:nth-child(2):hover {
  background-color:#008234;
}

.add-project a:nth-child(3) {
  background-color: #e85a4f;
  border-radius: 0 5px 5px 0;
}

.add-project a:nth-child(3):hover {
  background-color: #ff0000;
}

.add-project input {
  width: 58%;
  border: none;
}

#project-input.failed {
  border: 1px solid red;
}
/* main-content */

.content {
  flex-grow: 3;
  flex-shrink: 10;
  background-color: #fffff2;
}

.content-container {
  width: 85%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  font-family: "Montserrat", sans-serif;
}

.content-container h1 {
  font-weight: 600;
  font-size: 32px;
}

.list-items {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.list-items div.item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: .125rem 0 .25rem 0;
  margin: .25rem 0 .25rem 0;
  border-bottom: 2px solid #ffc7bd;
}

.date-trash-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-right: 5px;
}

.date-trash-container .date {
  margin-right: 10px;
}

.date-trash-container .delete-task {
  width: 14px;
  height: 14px;
  margin-top: 0px;
  background-image: url("../assets/images/trashcan.png");
  background-size: contain;
  opacity: .3;
}

.date-trash-container .delete-task:hover {
  opacity: .6;
  cursor: pointer;
}
.list-items .item.task-button {
  border: none;
}

.task-button button {
  width: 100%;
  padding: 0;
  text-align: left;
  border: none;
  font-family: "Montserrat", sans-serif;
  background-color: #fffff2;
  color: #999999;
  font-weight: 600;
  font-size: 16px;
}

.task-button button:hover {
  cursor: pointer;
  color: #e85a4f;
}

.create-task-div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 100px;
  border: 2px solid #999999;
  border-radius: 5px;
  margin-top: 10px;
}

.create-task-div input {
  display: block;
  font-size: 16px;
  background-color: #fffff2;
}

#task-title {
  width: 90%;
  margin-left: 10px;
  border: none;
}

#task-date {
  width: 88px;
  margin-left: 10px;
  border: 2px solid #ffc7bd;
}

#form-submit-div {
  display: flex;
  width: 250px;
  margin-top: 10px;
  justify-content: space-between;
}

#form-submit-div * {
  width: 116px;
  padding: 8px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5%;
  text-align: center;
}

#form-submit-button {
  background-color: #4fa300;
}

#form-cancel-button {
  background-color: #e85a4f;
}
